<h1>Twitter Tweets</h1>
<h3>Search for tweets with the help of keywords and hashtags</h3>

<ul class="search-box">
  <%= form_tag '#', :id => 'searchTweet' do %>
    <%= text_field_tag :tag, params[:tag], placeholder: "Search Tweet", class: "searchText" %>
    <%= submit_tag "Search", :name => nil, :class => "searchSubmit" %>
  <% end %>
</ul>

<div id="tweetsFeed"></div>

<ul class='tweets'>
  <% @twitter_results.each do |tweet| %>
    <li><%= tweet.text %></li>
  <% end %>
</ul>
